body{
	height:100%;
	width:100%;
	background: linear-gradient(to right,#27566b,#9775aa);
	background-size: cover;
	display:flex;
	align-items:center;
	justify-content: center;

	
}
.clock{
    
	width:200px;
	height:200px;
	border:10px solid white;
	border-radius: 50%;
	display:flex;
	justify-content: center;
	align-items: center;

	
}
.hand{

	width:6em;
	height:5px;
	position:absolute;
	border-radius:30%;
	background-color:black;
	transform-origin:0%;
	transform:rotate(-90deg);
	transition:all 0.5s;
	transition-timing-function: cubic-bezier(0.1,2.7,0.58,1);
	display:flex;
}
.hour-hand{
	width:4em;
	

}
.min-hand{
   width:5em;
	transform:rotate(20deg);


}
.sec-hand{



}